default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5


development:
  <<: *default
  database: CourseEval_development
  username: postgres
  password: 1234

  #username: CourseEval
  #password:
  #host: localhost
  #port: 5432
  #schema_search_path: myapp,sharedapp,public
  #min_messages: notice

test:
  <<: *default
  database: CourseEval_test

#   DATABASE_URL="postgres://myuser:mypass@localhost/somedatabase"
#
# You can use this database configuration with:
#
#   production:
#     url: <%= ENV['DATABASE_URL'] %>
#
production:
  <<: *default
  database: CourseEval_production
  username: '<%= ENV["POSTGRES_USERNAME"] %>'
  password: '<%= ENV["POSTGRES_PASSWORD"] %>'
